@import '../../../../theme.scss';

.orders {
  margin-bottom: 10px;
  .order-item {
    margin-bottom: 20px;
    border: 1px solid #eee;
    box-shadow: 3px 3px #eee,
        -1em 0 0.4em #eee;
    padding: 15px;
    .order-number {
      font-weight: bold;

      .delete {
        font-size: 40px;
        color: #4e4e4b;
        float: right;
        line-height: 10px;
        width: 40px;
        height: 40px;
      }
    }

    .sku {
      table {
        td,
        th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 14px;
          font-size: 12px;
          width: 250px;
        }
      }
    }
  }
  
}
.batch-modal {
    overflow: scroll;
    height: 700px;
}