@import '../../../../theme.scss';
.result {
  padding: 10px;
  .order-number {
    font-weight: bold;
  }
  .error-text{
    border-bottom: 1px solid #000;
  }
  .opreate {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    .action {
      padding: 0px 29px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border: none;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
    }

    .action-1 {
      background-color: $actionColor-3;
    }

    .action-2 {
      background-color: $actionColor-error;
    }

    .action-3 {
      background-color: $actionColor-success;
    }
  }
}
.sku-amount {
  color: red;
}